## FIXME: we are temporarily using libs to include dependencies
##        only available as local jars files.
/lib/

## We are using Maven for the build system
/target/

## Eclipse is far too common, such that deserves its own attention
## on a java project.
/.classpath
/.project
/.settings/

## Binaries files that may be added accidentally
*.jar
*.pdf
#*.png
*.tif

## Because some people use Mac
.DS_Store
tags
/.idea/artifacts/tango_tb.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_1.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_1.xml
/.idea/libraries/Maven__ch_systems_cisd_jhdf5_14_12_0.xml
/.idea/libraries/Maven__com_adobe_xmp_xmpcore_5_1_2.xml
/.idea/libraries/Maven__com_drewnoakes_metadata_extractor_2_6_2.xml
/.idea/libraries/Maven__com_esotericsoftware_kryo_kryo_2_24_0.xml
/.idea/libraries/Maven__com_esotericsoftware_minlog_minlog_1_2.xml
/.idea/libraries/Maven__com_github_ebmoll_lipid_droplet_counter_master_v1_0_0_gcb6b613_1.xml
/.idea/libraries/Maven__com_github_mcib3d_mcib3d_core_master_3_9_g0af55a6_68.xml
/.idea/libraries/Maven__com_github_quickhull3d_quickhull3d_1_0_0.xml
/.idea/libraries/Maven__com_google_guava_guava_17_0.xml
/.idea/libraries/Maven__com_googlecode_combinatoricslib_combinatoricslib_2_0.xml
/.idea/libraries/Maven__com_jgoodies_jgoodies_common_1_7_0.xml
/.idea/libraries/Maven__com_jgoodies_jgoodies_forms_1_7_2.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
/.idea/libraries/Maven__edu_ucar_netcdf_4_3_22.xml
/.idea/libraries/Maven__gov_nist_math_jama_1_0_3.xml
/.idea/libraries/Maven__joda_time_joda_time_2_2.xml
/.idea/libraries/Maven__net_htmlparser_jericho_jericho_html_3_4.xml
/.idea/libraries/Maven__net_imagej_ij_1_52e.xml
/.idea/libraries/Maven__ome_bio_formats_plugins_5_7_3.xml
/.idea/libraries/Maven__ome_formats_api_5_7_3.xml
/.idea/libraries/Maven__ome_formats_bsd_5_7_3.xml
/.idea/libraries/Maven__ome_formats_gpl_5_7_3.xml
/.idea/libraries/Maven__ome_jxrlib_all_0_2_1.xml
/.idea/libraries/Maven__ome_turbojpeg_5_7_3.xml
/.idea/libraries/Maven__org_jogamp_gluegen_gluegen_rt_2_3_2.xml
/.idea/libraries/Maven__org_jogamp_jogl_jogl_all_2_3_2.xml
/.idea/libraries/Maven__org_json_json_20171018.xml
/.idea/libraries/Maven__org_mongodb_mongo_java_driver_3_4_2.xml
/.idea/libraries/Maven__org_objenesis_objenesis_2_1.xml
/.idea/libraries/Maven__org_openmicroscopy_metakit_5_3_0.xml
/.idea/libraries/Maven__org_openmicroscopy_ome_codecs_0_2_0.xml
/.idea/libraries/Maven__org_openmicroscopy_ome_common_5_3_2.xml
/.idea/libraries/Maven__org_openmicroscopy_ome_jai_0_1_0.xml
/.idea/libraries/Maven__org_openmicroscopy_ome_mdbtools_5_3_0.xml
/.idea/libraries/Maven__org_openmicroscopy_ome_poi_5_3_1.xml
/.idea/libraries/Maven__org_openmicroscopy_ome_xml_5_5_4.xml
/.idea/libraries/Maven__org_openmicroscopy_specification_5_5_4.xml
/.idea/libraries/Maven__org_perf4j_perf4j_0_9_13.xml
/.idea/libraries/Maven__org_scijava_j3dcore_1_6_0_scijava_2.xml
/.idea/libraries/Maven__org_scijava_j3dutils_1_6_0_scijava_2.xml
/.idea/libraries/Maven__org_scijava_native_lib_loader_2_1_4.xml
/.idea/libraries/Maven__org_scijava_vecmath_1_6_0_scijava_2.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_6.xml
/.idea/libraries/Maven__sc_fiji_3D_Viewer_4_0_1.xml
/.idea/libraries/Maven__sc_fiji_Image_5D_2_0_1.xml
/.idea/libraries/Maven__sc_fiji_VIB_lib_2_1_0.xml
/.idea/libraries/Maven__sc_fiji_imagescience_3_0_0.xml
/.idea/libraries/Maven__sc_fiji_imageware_2_0_1_SNAPSHOT.xml
/.idea/libraries/Maven__sc_fiji_pal_optimization_2_0_0.xml
/.idea/libraries/Maven__weka_weka_3_7_6.xml
/.idea/libraries/Maven__woolz_JWlz_1_4_0.xml
/.idea/libraries/Maven__xalan_serializer_2_7_2.xml
/.idea/libraries/Maven__xalan_xalan_2_7_2.xml
/.idea/libraries/Maven__xerces_xercesImpl_2_8_1.xml
/.idea/libraries/Maven__xml_apis_xml_apis_1_3_04.xml
/.idea/libraries/PureDenoise_.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/TANGO.iml
